<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Casco{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-100">
    <div class="flex">
        {% include 'components/navbar.html' %}
        
        <!-- Conteúdo Principal -->
        <div class="flex-1 p-8 bg-gray-50">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html> 