<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de perfil de usuário</title>
    <link rel="stylesheet" href="../static/alterar_senha.css">
</head>
<body>
    <div class="container">
        <div class="item1">
            <nav>
                <img src="../static/imagens/perfil_usuario/logo-casco.svg" alt="" class="imagem-logo">
                <img src="../static/imagens/alterar_senha/luiz.svg" alt="" class="imagem-foto">
                <p>Luiz</p>
                <a href="{{ url_for('pagina_inicial') }}"><img src="../static/imagens/perfil_usuario/Vector (8).svg" alt="Ícone de casa">Início</a>
                <a href="#"><img src="../static/imagens/perfil_usuario/turtle (1) 13 1.svg" alt="Ícone de tartarugas">Registros</a>
                <a href="#"><img src="../static/imagens/perfil_usuario/Vector (4).svg" alt="Íconde de mãos dadas">Equipes</a>
                <a href="#"><img src="../static/imagens/perfil_usuario/Vector (5).svg" alt="Ícone de mão apontando">Cadastrar</a>
                <a href="{{ url_for('perfil_usuario') }}" class="usuario"><img src="../static/imagens/perfil_usuario/Vector (7).svg" alt="Ícone de usuário">Perfil</a>
                <a href="#"><img src="../static/imagens/perfil_usuario/file-icon 1.svg" alt="Ícone de sair" class="sair">Sair</a>
        </nav>
    </div>
    <div class="item2">
        <div class="quadro">
            <div class="div1">
            <img src="../static/imagens/alterar_senha/pp.png" alt="Ícone de caneta e papel">
            </div>
            <div class="div2">
            <img class="foto" src="../static/imagens/alterar_senha/luiz.svg" alt="imagem-foto">
            </div>
            <p>Luiz Augusto</p>
            <form action="#">
                <div>
                <label>Nome</label>
                <input type="text" name="nome">
                <label>Email</label>
                <input type="email" name="email">
                <label>Senha</label>
                <input type="password" name="senha">
                <label>Nova Senha</label>
                <input type="new-password" name="nova senha">
                </div>
            </form>
            <a href="#">
                <input class="submit" type="submit" value="Salvar">
            </a>
        </div>
    </div>
</body>
</html>
</body>
</html>