<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="principal">
        <main>
            <h1>Faça seu login</h1>
            <p class="comp">Preencha seus dados</p>

            <form action="#">
                <div class="container">
                    <label><img src="./static/imagens/login/email-icon.png" alt="Email - Ícone"><input type="text" name="email" placeholder="Email"></label>
                </div>
                <div class="container password">
                    <label><img src="./static/imagens/login/password-icon.png" alt="Senha - Ícone" class="senha"><input type="password" name="senha" placeholder="Senha"></label>
                </div>
                <a href="pagina_inicial.html" class="submit">
                    <input class="submit_b" type="submit" value="Entrar">
                </a>
            </form>
            <p class="text-center mt-3">Não tem uma conta? <a href="{{ url_for('register') }}">Registrar-se</a></p>
            <div class="alert alert-danger d-none" id="errorAlert">
                <strong>Erro!</strong> Email ou senha inválidos.
            </div>
        </main>
        <section>
            <img src="./static/imagens/login/nadador.png" alt="Nadador">
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            if ($("#errorAlert").length) {
                setTimeout(function() {
                    $('#errorAlert').fadeOut('slow');
                }, 4000);
            }
        });
    </script>
</body>
</html>
