<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="./static/tartarugas_registradas.css">
</head>
<body>
    <div class="container">
        <div class="item1">
            <nav>
                <img src="./static/imagens/pagina_inicial/logo-casco.svg" alt="" class="imagem-logo">
                <img src="./static/imagens/pagina_inicial/foto.svg" alt="" class="imagem-foto">
                <p>Luiz</p>
                <a href="./templates/pagina_inicial.html" class="inicio"><img src="./static/imagens/pagina_inicial/Vector.svg" alt="Ícone de casa">Início</a>
                <a href="tartarugas_registradas.html" class="turtle"><img src="./static/imagens/pagina_inicial/Casco Turtle.svg" alt="Ícone de tartarugas" class="turtle_icon">Registros</a>
                <a href="#" class="equipes"><img src="./static/imagens/pagina_inicial/Vector (4).svg" alt="Íconde de mãos dadas">Equipes</a>
                <a href="#" class="cadastrar"><img src="./static/imagens/pagina_inicial/Vector (5).svg" alt="Ícone de mão apontando">Cadastrar</a>
                <a href="#" class="perfil"><img src="./static/imagens/pagina_inicial/Vector (6).svg" alt="Ícone de usuário">Perfil</a>
                <a href="#"><img src="./static/imagens/pagina_inicial/file-icon 1.svg" alt="Ícone de sair" class="sair">Sair</a>
        </nav>
    </div>

    <div class="item2">
        <header>
            <h1>Tartarugas Registradas</h1>
        </header>

        <main>
            <div class="tartaruga separa">
                <a href="" class="editar"><img src="static/imagens/pagina_inicial/icons8-editar-50 1.svg" alt=""></a>
                <h2>CARETTA CARETTA</h2>
                <p class="first">Anilha: BR23634</p>
                <p>Data: 20/06/2022</p>
                <p>Hora: 14:35</p>
                <p>Praia: Ponta Negra</p>
                <a href="" class="mais_i">Mais informações</a>
                <div>
                    <img src="static/imagens/pagina_inicial/tartaruga.svg" alt="" class="turtle">
                </div>
            </div>

            <div class="tartaruga">
                <a href="" class="editar"><img src="static/imagens/pagina_inicial/icons8-editar-50 1.svg" alt=""></a>
                <h2>CHELONIA MYDAS</h2>
                <p class="first">Anilha: BR05489</p>
                <p>Data: 09/07/2023</p>
                <p>Hora: 16:54</p>
                <p>Praia: Ponta Negra</p>
                <a href="" class="mais_i">Mais informações</a>
                <div>
                    <img src="static/imagens/pagina_inicial/tartaruga.svg" alt="" class="turtle">
                </div>
            </div>

            <a href="tartarugas_registradas_page2.html" class="continuar"><img src="static/imagens/pagina_inicial/icons8-continuar-50 1.svg" alt=""></a>
        </main>
    </div>